* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    background-color: var(--main-bg-color);
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** end reset css**/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    margin: auto;
    font-family: "Work Sans";
    font-size: 14px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 1140px;
    margin: 50px 0;
    /* border: 2px solid red; */
}

section {
    margin: 50px 0;
}

h1 {
    display: flex;
    flex-direction: column;
    font-family: "Syne";
    font-size: 22px;
    font-weight: 800;
    color: #b1663c;
}

h1 > span {
    font-family: "Work Sans";
    font-size: 10px;
    letter-spacing: 0.1em;
}

h2 {
    font-family: "Syne";
    font-weight: 700;
    font-size: 30px;
    color: #1d6154;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    /* border: 2px solid red; */
}

nav li {
    /* padding: 0 20px; */
    font-size: 16px;
}

nav img {
    display: flex;
    height: 22px;
    align-self: center;
}

li:hover {
    color: #b1663c;
}
#introduction {
    display: flex;
    justify-content: space-between;
    gap: 72px;
    align-items: center;
}
#introduction figure {
    flex: 1;
}
#introduction img {
    display: block;
    width: 474px;
    height: 355px;
}

#introduction article {
    flex: 1;
}

#introduction h2 {
    margin-bottom: 1em;
}

#introduction p {
    margin-bottom: 0.5em;
}

.paragraphes {
    height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#portfolio h2 {
    text-align: center;
    margin-bottom: 50px; /*  Added */
}
.gallery {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.gallery img {
    width: 100%;
}

#contact {
    width: 380px;
    margin: auto;
    /* border: solid 2px blue; */
}

#contact > * {
    text-align: center;
}

#contact h2 {
    margin-bottom: 20px;
}

#contact p {
    font-size: 16px;
    font-weight: 500;
}

#contact form {
    text-align: left;
    /* margin-top: 38px; */
    display: flex;
    flex-direction: column;
}

#contact input {
    height: 50px;
    font-size: 1.2em;
    border: none;
    margin-top: 8px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
    font-weight: 500;
    /* margin: 2em 0 1em 0; */
    margin-top: 40px;
}
#contact textarea {
    border: none;
    margin-top: 8px;
    margin-bottom: 40px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
    font-family: "Syne";
    font-weight: 700;
    color: white;
    background-color: #1d6154;
    margin: 0 auto;
    width: 180px;
    text-align: center;
    border-radius: 60px;
    /* border: solid 20px blue; */
}

footer {
    display: flex;
    width: 100%;
    /* max-width: 1440px; */
    height: 60px;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    /* border: solid 2px blue; */
}

footer nav {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    /* margin: 2em; */
    /* border: solid 2px red; */
}

/**************** Mon Code ****************/
/******** Général ********/
:root {
    --main-color: #1d6154;
    --second-color: #3d3d3d;
    --main-bg-color: #fffef8;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 950px;
    margin-bottom: 20px;
    /* border: 2px solid goldenrod; */
}

/******** Filtres ********/
.filtres {
    display: flex;
    justify-content: center;
    height: 38px;
    box-sizing: border-box;
    margin-bottom: 50px;
    gap: 10px;
}

.filtres button {
    /* color: var(--main-color); */
    border: 2px solid var(--main-color);
}

.filtres-rapides {
    font-family: "Syne";
    font-weight: bold;
    text-align: center;
    border-radius: 60px;
    min-width: 100px;
    padding: 8px 15px;
}

.filtre-inactif {
    color: var(--main-color);
    background-color: var(--main-bg-color);
    border: 1px solid var(--main-color);
}

.filtres-rapides:hover,
.filtre-actif {
    color: white;
    background-color: var(--main-color);
}
